.page-counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: red;
    font-size: 16px;
}

.page-counter-container ul {
    list-style-type: none;
    color: black;
}

