.berry-name {
    padding-bottom: 30px;
    color: gold;

}

.berry-flavors {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.berry-flavors .group {
    background-color: darkorange;
    color: white;
    padding: 7px;
    margin: 3px;
    font-size: 14px;
    border-radius: 12px;
}

.stats {
    margin-top: 15px;
    padding: 5px;
    font-size: 18px;
}

.base-stat {
    padding-bottom: 20px;
}

.main-berry-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: auto;
    border: 9px ridge darkorange;
    padding: 20px;
    border-radius: 18px;
    background: linear-gradient(to right, deepskyblue, lightblue);
    cursor: pointer;
}