.card{
    height: 100%;
    width: 100%;
    /*Content Alignment*/
    position: relative;
}

.card-back,
.card-front {
    height: 100%;
    width: 100%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 20px;
    color: white;
    /*Alignment*/
    position: absolute;

    transform-style: preserve-3d;
}

.card-front{
    background: lightblue;

}

.card-back{
    background: darkblue;
    transform: rotateY(180deg);
}

/*
Exit transition
showFront = true -> false
front -> back

Enter transition
showFront = false -> true
back -> front
*/

.flip-exit {
    transform: rotateY(0deg);

}

.flip-exit-active {
    transform: rotateY(180deg);
    transition: transform 300ms;

}

.flip-exit-done {
    transform: rotateY(180deg);

}