.card{
    height: 100%;
    width: 100%;

    transform-style: preserve-3d;

    border-radius: 18px;
    box-shadow: 0 0 10px black;
    border: 5px solid white;

    /*Content Alignment*/
    position: relative;

    user-select: none;
    cursor: pointer;
}

.card-back,
.card-front {
    height: 100%;
    width: 100%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    /*Content Alignment*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 13px;

    /*Alignment*/
    position: absolute;

    transform-style: preserve-3d;
}

.card-front{
    background: blue;
}

.card-back{
    background: linear-gradient(to left, aquamarine, darkblue);
    transform: rotateY(180deg);
}

/*styling of flipping the card animation*/

.flip-exit {
    transform: rotateY(0deg);
}

.flip-exit-active {
    transform: rotateY(180deg);
    transition: transform 300ms;
    transition-timing-function: cubic-bezier(.57, .21, .69, 1.25);
}

.flip-exit-done {
    transform: rotateY(180deg);
}


.flip-enter {
    transform: rotateY(180deg);
}

.flip-enter-active {
    transform: rotateY(0deg);
    transition: transform 300ms;
    transition-timing-function: cubic-bezier(.57, .21, .69, 1.25);
}

.flip-enter-done {
    transform: rotateY(0deg);
}

/*STYLING FOR POKEMON CARD*/
.back-image-container {
    text-align: center;
    background: linear-gradient(to right, aquamarine, darkblue);
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    width: 270px;
    height: 270px;
    padding: 5px;
}

.pokemon-image {
    width: 100%;
    height: 100%
}

.back-content-container {
    background: linear-gradient(to right, blue, aqua);
    padding: 5px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}


.pokemon-name {
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    font-weight: lighter;
    padding: 10px;
}

.pokemon-type {
    background-color: darkslategrey;
    color: white;
    padding: 7px;
    border-radius: 5px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    position: relative;
    top: -70px;
}

.pokemon-stats > p {
    letter-spacing: 1px;
}

.pokemon-logo {
    text-align: center;
    font-size: 14px;
    padding: 20px;
}

.clickable-text {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clickable-text h3 {
    padding: 30px;
}



