.abilities {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: auto;
    margin-top: 1rem;
}

.abilities .group {
    background-color: goldenrod;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
}

.base-stat {
    margin-top: 2rem;


}