.home-page-layout {
    display: flex;
    flex-direction: row;
}

.pokemon-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 25px;
}

