button {
    width: 25vh;
    height: 8vh;
    border: 3px solid rebeccapurple;
    padding: 3px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Didact Gothic";
    color: aliceblue;
    background: mediumpurple;
    cursor: pointer;
    border-radius: 35px;
    margin: 15px;
    padding: 5px;

}


button:hover {
    background: rebeccapurple;
    /*//shadow on hover*/
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
