@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Merriweather&family=Roboto:wght@300&family=Rock+Salt&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #FCEEC8;

}

.container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}

.left-content, .right-content {
    flex-basis: 50%;



}