.outer-container-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    margin: 20px;
    padding: 10px;
    background-color: transparent;
    border: 3px solid red;
}

.inner-container-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 3px solid green;
    width: 100%;
    height: 55px;
}


.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 80%;
    height: 45px;
    background: transparent;
    position: fixed;
    margin: 5px;
    padding: 5px;
    border: 3px solid yellow;

}

nav ul a,
nav ul a:visited {
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    margin: 5px;
}


nav ul a:hover {
    background-color: deepskyblue;
    color: lightcyan;
    border-radius: 35px;
    box-shadow:
            rgb(85, 91, 255) 0px 0px 0px 3px,
            rgb(31, 193, 27) 0px 0px 0px 6px,
            rgb(255, 217, 19) 0px 0px 0px 9px,
            rgb(255, 156, 85) 0px 0px 0px 12px,
            rgb(255, 85, 85) 0px 0px 0px 15px;
}

.list-navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    text-decoration: snow;
    flex-shrink: 0;
    margin-left: 10px;
}


.active-link {
    border-bottom: 2px solid rebeccapurple;
}

.default-link {
    border-bottom: 2px solid transparent;
}



