.tab-one-container {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tab-one-title-container {
    padding: 5px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 25px;
}


.pokemon-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
}

.tab-one p {
    font-size: 10px;
    text-align: center;
}



.evolution-container {
    cursor: pointer;
}

.color-container {
    cursor: pointer;
}

.tab-title-container {
    border-radius: 20px;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0.3px 0.3px 0.7px 0.7px lightskyblue;
    color: darkblue;

}

.tab-content-container {

}


.change-color-on-hover-evolution:hover {
    color: forestgreen;
}

.change-color-on-hover-color:hover {
    color: royalblue;
}

.change-color-on-hover-habitat:hover {
    color: royalblue;
}

