.pokemon-list-button {
    width: 85px;
    height: 40px;
    background-color: orangered;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    margin: 5px;


}

.pokemon-list-button:hover {
    background-color: orange;
}

.habitat-lettertype {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
}

.result-introduction-container {
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: 0.9px 0.9px 0 0 saddlebrown;
    background-color: peachpuff;
    border-radius: 15px;

}