.pokemon-list-button {
    width: 90px;
    height: 40px;
    background-color: darkblue;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    margin: 2px;
    cursor: pointer;

}

.pokemon-list-button:hover {
    background-color: orange;
}

.hover-result-container {
    transition-timing-function: ease-in;
}

.habitat-lettertype {
    font-size: 15px;
    font-weight: bold;
    color: white;
}



