.button-filter {
    padding: 10px 20px;
    margin-right: 6px;
    background: transparent;
    border: none;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    color: black;
    cursos: pointer;
}