.single-page-main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid red;
    padding: 10px;
}

.single-page-container-left, .single-page-container-right {
    width: 50%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;

}


.single-berry-name-container {
    font-size: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

