@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Merriweather&family=Roboto:wght@300&family=Rock+Salt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

}

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(gold, goldenrod);
    width: 100%;
}

.inner-container {
    display: flex;
    flex-direction: column;
    flex-basis: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}