.berry-information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.berry-image-container {

}

.berry-image {
}



.berry-name-container {

}

.berry-effect-container {

}